<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 600px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }


    </style>
</head>
<body>

    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>

        </div>
    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="" asp-action="Create">Create</a>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="" asp-action="Search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="" asp-action="Edit">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="" asp-action="Publish">Publish</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="" asp-action="Views">View</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="" asp-action="Delete">Delete</a>
                    </li>
                </ul>

            </div>
            <br>

            <div class="col-sm-9">
                <h3>Dashboard</h3>
                <div class="well">
                    <h4>Advisory</h4>
                    <p>12 Days of Christmas &emsp; &emsp; &emsp; &emsp; &emsp; Jamaica &emsp; &emsp; &emsp; &emsp; &emsp; December 5, 2019 &emsp; &emsp; &emsp; &emsp; &emsp; Christina Pinnock</p>
                </div>
                <div class="well">
                    <h4>FAQ</h4>
                    <p>12 Days of Christmas &emsp; &emsp; &emsp; &emsp; &emsp; Jamaica &emsp; &emsp; &emsp; &emsp; &emsp; December 5, 2019 &emsp; &emsp; &emsp; &emsp; &emsp; Akeelim Jackson</p>
                </div>
                <div class="well">
                    <h4>Technical Issues</h4>
                    <p>Hyman Loans &emsp; &emsp; &emsp; &emsp; &emsp; Anguilla &emsp; &emsp; &emsp; &emsp; &emsp; December 6, 2019 &emsp; &emsp; &emsp; &emsp; &emsp; Du'Raul Reid</p>
                </div>
                <div class="well">
                    <h4>Training Material</h4>
                    <p>Prepaid Life Cycle &emsp; &emsp; &emsp; &emsp; &emsp; Jamaica &emsp; &emsp; &emsp; &emsp; &emsp; October 2, 2019 &emsp; &emsp; &emsp; &emsp; &emsp; Akeelim Jackson</p>
                </div>
            </div>
           
        </div>
   
    </div>

</body>
</html>